In [574]:
import sys
import pickle
import json
import re
import pandas as pd
import ast
import numpy as np
sys.path.append('../')
from sklearn.pipeline import Pipeline
from modules.transformers.CenterPosition import CenterPositionTransform
from modules.transformers.TextType import isdateTransform, isfloatTransform,istextTransform
from modules.transformers.textalignment import AlignmentTransform
pd.set_option('display.max_rows', 1000)

In [ ]:
def is_float(string):
    try:
        float(string)
        return True
    except ValueError:
        return False

In [575]:
SYMBOL = {
    "$": 0,
}
sfea_words = SYMBOL

def clean_word(word):
    """
    Clean up a word
    :param word: input wordText
    :return: cleaned up word string
    """
    cword = word.strip(' /)*%-_:;\'\"')
    cword = cword.replace(',', '')
    cword = cword.replace('.', '')
    cword = cword.replace('(', '')
    cword = cword.replace('$', '')
    return cword
def gen_raw_feature(words):
    """
    Input a word list from one page, output preliminary features for this page.
    :param words: A list of strings which are words from this page.
    :return: A list of preliminary features contains word frequencies and other features like word count.
                Need some cleanup afterwards.
    """
    word_count = 0
    number_count = 0
    fea_sym = [0]*(max(sfea_words.values())+1)
    for w in words:
        # Count '$'
        dn = w.count('$')
        fea_sym[sfea_words['$']] += dn
        if dn > 1:
            wl = w.split('$')
            w = wl[0]
            words += wl[1:]
        cw = clean_word(w)
        if not cw:
            continue
        # Increase word count
        word_count += 1
        # Check if numbers and increase number count
        if cw.isnumeric():
            number_count += 1
            continue
    # Construct other features
    if not word_count:
        fea_oth = [0, 0, 0]
    else:
        fea_oth = [word_count, number_count]
    return fea_sym + fea_oth

In [576]:
def read_pages(ticker):
    with open('C:\\Users\\juang\\Documents\\Stocks\\PDFs\\'+ticker+'\\all.json', 'r') as f:
        datastore = json.load(f)
    df = pd.DataFrame()
    for i in range(0, len(datastore['Pages'])):
        df = df.append(pd.DataFrame(datastore['Pages'][i]))
    df = df[df.index == 0].set_index('PageNumber')
    df.index = df.index.astype(int)
    df = df.sort_index()
    df['Dollar_Count'] = ''
    df['Word_Count'] = ''
    df['Number_Count'] = ''
    for i in range(0, len(df)):
        features = gen_raw_feature(df.WordText[i])
        df['Dollar_Count'][i] = features[0]
        df['Word_Count'][i] = features[1]
        df['Number_Count'][i] = features[2]
    return df

In [577]:
def read_words(ticker):
    with open('C:\\Users\\juang\\Documents\\Stocks\\PDFs\\'+ticker+'\\all.json', 'r') as f:
        datastore = json.load(f)
    df = pd.DataFrame()
    for i in range(0, len(datastore['Pages'])):
        df = df.append(pd.DataFrame(datastore['Pages'][i]))
    df = df[df.index != 0].set_index('PageNumber')
    df.index = df.index.astype(int)
    df = df.sort_index()
    return df

In [578]:
def predict_pages(df):
    array = [df.Number_Count/df.Word_Count, df.Dollar_Count]
    g = number_clf.predict_proba(np.transpose(array))
    m = text_clf.predict_proba(df.WordText)
    all_probas = np.hstack((m, g))
    all_probas
    return final_clf.predict(all_probas)

In [579]:
with open('text_clf.pickle', 'rb') as f:
    text_clf = pickle.load(f)
with open('number_clf.pickle', 'rb') as f:
    number_clf = pickle.load(f)
with open('final_clf.pickle', 'rb') as f:
    final_clf = pickle.load(f)

In [580]:
chk = read_pages('DIS')

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [581]:
lister = predict_pages(chk)
index = []
financials = [index.append(i) for i in range(0,len(lister)) if lister[i]==1]
index

[1, 2, 3, 4, 5]

In [582]:
chk_words = read_words('DIS').reset_index()
chk_words = chk_words[chk_words.PageNumber.isin(index)]
chk_words = chk_words.reset_index()
chk_words['index'] = 1

In [583]:
intakePipeSteps = []
intakePipeSteps.append(('CenterTransform',CenterPositionTransform()))
intakePipeSteps.append(('isfloat',isfloatTransform('WordText')))
intakePipeSteps.append(('isdate',isdateTransform('WordText')))
intakePipeSteps.append(('istext',istextTransform('WordText')))
combined = Pipeline(intakePipeSteps)
combined

Pipeline(steps=[('CenterTransform', <modules.transformers.CenterPosition.CenterPositionTransform object at 0x00000198B0F1B240>), ('isfloat', <modules.transformers.TextType.isfloatTransform object at 0x00000198B0F1B358>), ('isdate', <modules.transformers.TextType.isdateTransform object at 0x00000198B0F1B438>), ('istext', <modules.transformers.TextType.istextTransform object at 0x00000198B0F1B4A8>)])

In [584]:
date = combined.named_steps['isdate'].transform(chk_words)
floater = combined.named_steps['isfloat'].transform(chk_words)
text = combined.named_steps['istext'].transform(chk_words)
center = combined.named_steps['CenterTransform'].transform(chk_words)

802 7 isdate in
802 9 isfloat in
802 8 istext in
802 9 isfloat in
802 10 centerposition in

In [733]:
chk_words = chk_words.sort_values(['PageNumber','Y_Min','X_Min'])
chk_words['WordText'] = chk_words['WordText'].str.replace(r",","")

In [734]:
def text_align(df, length):
    newlist = []
    previous = 0
    count = 0
    for row in df:
        if count == 0:
            previous = row
            newlist.append(previous)
        else:
            if abs(row - previous) > length:
                previous = row
                newlist.append(row)
            else:
                row = previous
                newlist.append(row)
        count = count + 1
    return newlist

In [802]:
line_by_y = chk_words
line_by_y['Y_Min'] = text_align(line_by_y.Y_Min, 40)

In [803]:
lines = chk_words.sort_values('X_Min').groupby(['PageNumber','Y_Min'])['WordText'].apply(lambda x: "%s" % ', '.join(x)).to_frame()

In [804]:
lines = lines.reset_index()

In [805]:
lines

     PageNumber   Y_Min                                           WordText
0             1   203.0                   PART, I., FINANCIAL, INFORMATION
1             1   298.0                    Item, 1:, Financial, Statements
2             1   373.0                         THE, WALT, DISNEY, COMPANY
3             1   417.0    CONDENSED, CONSOLIDATED, STATEMENTS, OF, INCOME
4             1   464.0  (unaudited;, in, millions, except, per, share,...
5             1   536.0                                     Quarter, Ended
6             1   589.0               December, 2017, 30, December31, 2016
7             1   680.0                                          Revenues:
8             1   726.0                             Services, 12984, 12406
9             1   778.0                               Products, 2367, 2378
10            1   830.0                      Total, revenues, 15351, 14784
11            1   883.0                               Costs, and, expenses
12            1   929.0  Cost, of, services, (exclusive, ofdepreciation...
13            1   982.0  Cost, of, products, (exclusive, ofdepreciation...
14            1  1032.0  Selling, general, administrative, and, other, ...
15            1  1080.0      Depreciation, and, amortization, (742), (687)
16            1  1132.0      Total, costs, and, expenses, (11558), (11078)
17            1  1185.0      Restructuring, and, impairment, charges, (15)
18            1  1234.0                             Other, income, net, 53
19            1  1284.0                Interest, expense, net, (129), (99)
20            1  1336.0    Equity, in, the, income, of, investees, 43, 118
21            1  1385.0          Income, before, income, taxes, 3745, 3725
22            1  1434.0                         Income, taxes, 728, (1237)
23            1  1488.0                            Net, income, 4473, 2488
24            1  1539.0  Less:, Net, income, attributable, to, noncontr...
25            1  1589.0  Net, income, attributable, to, The, Walt, Disn...
26            1  1704.0    Earnings, per, share, attributable, to, Disney:
27            1  1752.0                                Diluted, 2.91, 1.55
28            1  1843.0                                  Basic, 2.93, 1.56
29            1  1952.0  Weighted, average, number, of, commn, and, com...
30            1  2001.0                                Diluted, 1521, 1603
31            1  2091.0                                  Basic, 1512, 1592
32            1  2201.0        Dividends, declared, per, share, 0.84, 0.78
33            1  2286.0  See, Notes, to, Condensed, Consolidated, Finan...
34            1  2363.0                                                  2
35            2   203.0                         THE, WALT, DISNEY, COMPANY
36            2   248.0  CONDENSED, CONSOLIDATED, STATEMENTS, OF, COMPR...
37            2   292.0                         (unaudited;, in, millions)
38            2   399.0                                     Quarter, Ended
39            2   453.0             December, 2017, 30, December, 2016, 31
40            2   542.0                            Net, income, 4473, 2488
41            2   596.0    Other, comprehensive, income/(loss), net, oftax
42            2   645.0      Market, value, adjustments, for, investment:s
43            2   693.0   Market, value, adjustments, for, hedges, 18, 280
44            2   745.0  Pension, and, postretirement, medical, plan, a...
45            2   794.0  Foreign, currency, translation, and, other, 87...
46            2   846.0              Other, comprehensive, income, 165, 25
47            2   895.0                  Comprehensive, income, 4638, 2513
48            2   949.0  Net, income, attributable, to, noncontrolling,...
49            2   998.0  Other, comprehensive, (income)/loss, attributa...
50            2  1050.0  Comprehensive, income, attributable, to, Disne...
51            2  1135.0  See, Notes, to, Condensed, Consolidated, Finan...
52            3   166.0                         THE, WALT, DISNEY, COMPANY
53            3   210.0           CONDENSED, CONSOLIDATED, BALANCE, SHEETS
54            3   255.0  (unaudited;, in, millions, except, per, share,...
55            3   327.0                  December, 30, September, 2017, 30
56            3   368.0                                               2017
57            3   417.0                                             ASSETS
58            3   471.0                                    Current, assets
59            3   516.0           Cash, and, cash, equivalents, 4677, 4017
60            3   567.0                            Receivables, 9886, 8633
61            3   620.0                                  Inventories, 1373
62            3   669.0              Television, costs, and, advances, 846
63            3   718.0                        Other, current, assets, 558
64            3   770.0                Total, curent, assets, 17274, 15889
65            3   823.0             Filmand, television, costs, 7937, 7481
66            3   868.0                                  Investments, 3206
67            3   924.0               Parks, resorts, and, other, property
68            3   971.0      Attractions, buildings, and, equipment, 54043
69            3  1016.0        Accumulated, depreciation, (29647), (29037)
70            3  1073.0                                       24970, 25006
71            3  1118.0                 Projects, in, progress, 2355, 2145
72            3  1173.0                                               1259
73            3  1224.0                                       28584, 28406
74            3  1279.0                      Intangible, assets, net, 6995
75            3  1328.0                                    Goodwill, 31426
76            3  1378.0                               Other, assets, 2.373
77            3  1426.0                        Total, assets, 97734, 95789
78            3  1529.0                           LIABILITIES, AND, EQUITY
79            3  1579.0                               Current, liabilities
80            3  1628.0  Accounts, payable, and, other, accrued, liabil...
81            3  1674.0               Current, portion, ofborrowings, 6009
82            3  1728.0                Deferred, revenue, and, other, 4292
83            3  1777.0          Total, current, liabilities, 19875, 19595
84            3  1826.0                           Borrowings, 20082, 19119
85            3  1879.0                      Deferred, income, taxes, 4480
86            3  1930.0          Other, long-term, liabilities, 6726, 6443
87            3  1980.0        Commitments, and, contingencies, (Note, 12)
88            3  2031.0        Redeemable, noncontrolling, interests, 1142
89            3  2130.0  Prefered, stock, , $, 0.01, par, value, , Auth...
90            3  2182.0  Common, Authorized, stock, S0.01, 4.6, billion...
91            3  2235.0           Retained, earnings, -, , _, 75763, 72606
92            3  2318.0      Accumulated, other, comprehensive, lo, (3528)
93            3  2371.0                                     108613, 105326
94            3  2419.0  Treasury, stock, at, cost, 1.4, billion, share...
95            3  2473.0        Total, Disney, Shareholders', equity, 43289
96            3  2523.0              Noncontrolling, interests, 3794, 3689
97            3  2575.0                        Total, equity, 47083, 45004
98            3  2627.0      Total, liabilities, and, equity, 97734, 95789
99            3  2684.0  See, Notes, to, Condensed, Consolidated, Finan...
100           3  2762.0                                                  4
101           4   203.0                         THE, WALT, DISNEY, COMPANY
102           4   248.0  CONDENSED, CONSOLIDATED, STATEMENTS, OF, CASH,...
103           4   292.0                         (unaudited;, in, millions)
104           4   366.0                                     Quarter, Ended
105           4   417.0             December, 2017, 30, December, 2016, 31
106           4   508.0                              OPERATING, ACTIVITIES
107           4   557.0                            Net, income, 4473, 2488
108           4   609.0          Depreciation, and, amortization, 742, 687
109           4   658.0              Deferred, income, taxes, (1726), (76)
110           4   709.0  Equity, in, the, income, of, investees, (43), ...
111           4   757.0  Cash, distributions, received, from, equity, i...
112           4   810.0  Net, change, in, filmand, television, costs, a...
113           4   859.0                 Equity-based, compensation, 94, 97
114           4   907.0                                    Other, 139, 187
115           4   960.0  Changes, in, operating, assets, and, liabilities:
116           4  1007.0                        Receivables, (1378), (1160)
117           4  1060.0                               Inventories, 65, 102
118           4  1109.0                             Otherassets, (29), 311
119           4  1157.0  Accounts, payable, and, other, accrued, liabil...
120           4  1207.0                           Income, taxes, 856, 1047
121           4  1260.0         Cash, provided, by, operations, 2237, 1445
122           4  1356.0                              INVESTING, ACTIVTTIES
123           4  1406.0  Investments, in, parks, resorts, and, other, p...
124           4  1455.0                                        Other, (62)
125           4  1505.0  Cash, used, in, investing, activities, (1043),...
126           4  1601.0                              FINANCING, ACTIVITIES
127           4  1649.0      Commercial, paper, borrowings, net, 1140, 732
128           4  1697.0                               Borrowings, 1025, 42
129           4  1748.0           Reduction, of, borrowings, (1330), (194)
130           4  1800.0     Repurchases, of, common, stock, (1313), (1465)
131           4  1849.0  Proceeds, from, exercise, of, stock, options, ...
132           4  1899.0                                Other, (156), (167)
133           4  1949.0  Cash, used, in, financing, activitie:s, (584),...
134           4  2045.0  Impact, of, exchange, rates, on, cash, cash, e...
135           4  2137.0  Change, in, cash, cash, equivalents, and, rest...
136           4  2185.0  Cash, cash, equivalents, and, restricted, cash...
137           4  2238.0  Cash, cash, equivalents, and, restricted, cash...
138           4  2322.0  See, Notes, to, Condensed, Consolidated, Finan...
139           5   203.0                         THE, WALT, DISNEY, COMPANY
140           5   248.0     CONDENSED, CONSOLIDATED, STATEMETS, OF, EQUITY
141           5   292.0                         (unaudited;, in, millions)
142           5   400.0                                     Quarter, Ended
143           5   453.0                 December, 302017, December, 312016
144           5   554.0     Disney, controlling, Total, controlling, Total
145           5   601.0  Shareholders, Interests, (1), Equity, Sharehol...
146           5   666.0  Beginning, balance, 41315S, 3689, $, 45004, 43...
147           5   714.0  Comprehensive, income/(loss), 4547, 97, 4644, ...
148           5   769.0             Equity, compensation, activity, 48, 48
149           5   814.0          Dividends, (1266), (1266), (1237), (1237)
150           5   864.0  Common, stock, repurchases, (1313), (1313), (1...
151           5   918.0                          Distributions, and, other
152           5   967.0  Ending, balance, 43289, 3794, $, 47083, 43210,...
153           5  1050.0  (1), Ecludes, redeemable, noncontrolling, inte...
154           5  1188.0  See, Notes, to, Condensed, Consolidated, Finan...

In [806]:
column_by_year = chk_words[chk_words.WordText.str.contains("20") & (chk_words.WordText.str.len() == 4) & chk_words.WordText_isfloat == True]
column_by_year

,index,PageNumber,WordText,X_Max,X_Min,Y_Max,Y_Min,WordText_isdate,WordText_isfloat,WordText_istext,X_Center,Y_Center
96,1,1,2017,1874.0,1807.0,653.0,589.0,1,True,0,1840.5,639.5
98,1,1,2016,2221.0,2160.0,653.0,589.0,1,True,0,2190.5,639.5
232,1,2,2017,1863.0,1798.0,517.0,453.0,1,True,0,1830.5,505.0
229,1,2,2016,2218.0,2158.0,516.0,453.0,1,True,0,2188.0,504.5
461,1,3,2017,2209.0,2151.0,391.0,327.0,1,True,0,2180.0,378.5
464,1,3,2017,1853.0,1786.0,390.0,368.0,1,True,0,1819.5,379.0
653,1,4,2017,1844.0,1777.0,482.0,417.0,1,True,0,1810.5,469.5
656,1,4,2016,2207.0,2147.0,482.0,417.0,1,True,0,2177.0,469.5

In [807]:
columndf = pd.DataFrame()
for index,row in column_by_year.iterrows():
    dic = {}
    cleanunder = []
    textover = []
    textunder = []
    for index1,row1 in chk_words.iterrows():
        if row['PageNumber'] == row1['PageNumber'] and row1['X_Center'] > (row['X_Center']-100) and row1['X_Center'] < (row['X_Center']+300):           
            if row1['Y_Min'] > row['Y_Min']:
                clean = re.sub('[^0-9.]','', row1['WordText'])
                nodecimal = re.findall(r'\d+\.\d+',clean)
                if len(nodecimal) == 0:
                    clean = re.findall(r'\d+',clean)
                else:
                    clean = nodecimal
                try:
                    clean[0] = float(clean[0])
                    cleanunder.append(clean[0])
                except:
                    pass
        if row['PageNumber'] == row1['PageNumber'] and row1['X_Center'] > (row['X_Center']-200) and row1['X_Center'] < (row['X_Center']+150):
            if row1['Y_Center']+100 > (row['Y_Center']) and row1['Y_Center'] <= (row['Y_Center']):
                textover.append(row1['WordText'])
    dic['Page'] = row['PageNumber']
    dic['Year'] = row['WordText']
    dic['Values'] = cleanunder
    dic['Title'] = textover
    columndf = columndf.append(dic, ignore_index=True)

In [808]:
linescopy = lines
linescopy.WordText = lines.WordText.replace(',','')
linescopy.WordText = lines.WordText.str.split()

In [809]:
finaldf = pd.DataFrame()
rowdic = {}
for index,row in linescopy.iterrows():
    for index1,row1 in columndf.iterrows():
         if row['PageNumber'] == row1['Page']:
            for item in row.WordText:
                notext = re.sub('[^0-9.]','', item)
                nodecimal = re.findall(r'\d+\.\d+',notext)
                if len(nodecimal) == 0:
                    notext = re.findall(r'\d+',notext)
                else:
                    notext = nodecimal
                try:
                    clean = float(notext[0])
                    if clean in row1['Values']:
                        novalues = [re.sub('[\\\,()$]', '', s) for s in row.WordText if is_float(re.sub('[\\\,()$]', '', s)) == False]
                        rowdic['Value'] = clean
                        rowdic['Description'] = ' '.join(novalues)
                        rowdic['Title'] = ' '.join(row1['Title'])
                        rowdic['Page'] = row['PageNumber']
                        finaldf = finaldf.append(rowdic, ignore_index=True)
#                         print(clean, ' '.join(novalues), ' '.join(row1['Title']))
                except:
                    pass

In [810]:
finaldf

,Description,Page,Title,Value
0,Services,1.0,Quarter December 2017 30,12984.000
1,Services,1.0,Ended December31 2016,12406.000
2,Products,1.0,Quarter December 2017 30,2367.000
3,Products,1.0,Ended December31 2016,2378.000
4,Total revenues,1.0,Quarter December 2017 30,15351.000
5,Total revenues,1.0,Ended December31 2016,14784.000
6,Cost of services exclusive ofdepreciation and ...,1.0,Quarter December 2017 30,7334.000
7,Cost of services exclusive ofdepreciation and ...,1.0,Ended December31 2016,7020.000
8,Cost of products exclusive ofdepreciation and ...,1.0,Quarter December 2017 30,1403.000
9,Cost of products exclusive ofdepreciation and ...,1.0,Ended December31 2016,1386.000
10,Selling general administrative and other,1.0,Quarter December 2017 30,2079.000
11,Selling general administrative and other,1.0,Ended December31 2016,1985.000
12,Depreciation and amortization,1.0,Quarter December 2017 30,742.000
13,Depreciation and amortization,1.0,Ended December31 2016,687.000
14,Total costs and expenses,1.0,Quarter December 2017 30,11558.000
15,Total costs and expenses,1.0,Ended December31 2016,11078.000
16,Restructuring and impairment charges,1.0,Quarter December 2017 30,15.000
17,Other income net,1.0,Quarter December 2017 30,53.000
18,Interest expense net,1.0,Quarter December 2017 30,129.000
19,Interest expense net,1.0,Ended December31 2016,99.000
20,Equity in the income of investees,1.0,Quarter December 2017 30,43.000
21,Equity in the income of investees,1.0,Ended December31 2016,118.000
22,Income before income taxes,1.0,Quarter December 2017 30,3745.000
23,Income before income taxes,1.0,Ended December31 2016,3725.000
24,Income taxes,1.0,Quarter December 2017 30,728.000
25,Income taxes,1.0,Ended December31 2016,1237.000
26,Net income,1.0,Quarter December 2017 30,4473.000
27,Net income,1.0,Ended December31 2016,2488.000
28,Less: Net income attributable to noncontrollin...,1.0,Quarter December 2017 30,50.000
29,Net income attributable to The Walt Disney Com...,1.0,Quarter December 2017 30,4423.000
30,Net income attributable to The Walt Disney Com...,1.0,Ended December31 2016,2479.000
31,Diluted,1.0,Quarter December 2017 30,2.910
32,Diluted,1.0,Ended December31 2016,1.550
33,Basic,1.0,Quarter December 2017 30,2.930
34,Basic,1.0,Ended December31 2016,1.560
35,Diluted,1.0,Quarter December 2017 30,1521.000
36,Diluted,1.0,Ended December31 2016,1603.000
37,Basic,1.0,Quarter December 2017 30,1512.000
38,Basic,1.0,Ended December31 2016,1592.000
39,Dividends declared per share,1.0,Quarter December 2017 30,0.840
40,Dividends declared per share,1.0,Ended December31 2016,0.780
41,Net income,2.0,Quarter December 2017 30,4473.000
42,Net income,2.0,Ended December 2016 31,2488.000
43,Market value adjustments for hedges,2.0,Quarter December 2017 30,18.000
44,Market value adjustments for hedges,2.0,Ended December 2016 31,280.000
45,Pension and postretirement medical plan adjust...,2.0,Quarter December 2017 30,61.000
46,Pension and postretirement medical plan adjust...,2.0,Ended December 2016 31,46.000
47,Foreign currency translation and other,2.0,Quarter December 2017 30,87.000
48,Foreign currency translation and other,2.0,Ended December 2016 31,290.000
49,Other comprehensive income,2.0,Quarter December 2017 30,165.000
50,Other comprehensive income,2.0,Ended December 2016 31,25.000
51,Comprehensive income,2.0,Quarter December 2017 30,4638.000
52,Comprehensive income,2.0,Ended December 2016 31,2513.000
53,Net income attributable to noncontrolling inte...,2.0,Quarter December 2017 30,50.000
54,Other comprehensive income/loss attributable t...,2.0,Quarter December 2017 30,41.000
55,Comprehensive income attributable to Disney,2.0,Quarter December 2017 30,4547.000
56,Comprehensive income attributable to Disney,2.0,Ended December 2016 31,2603.000
57,Cash and cash equivalents,3.0,September 2017 30,4017.000
58,Cash and cash equivalents,3.0,December 30 2017,4677.000
59,Receivables,3.0,September 2017 30,8633.000
60,Receivables,3.0,December 30 2017,9886.000
61,Inventories,3.0,September 2017 30,1373.000
62,Television costs and advances,3.0,December 30 2017,846.000
63,Other current assets,3.0,December 30 2017,558.000
64,Total curent assets,3.0,September 2017 30,15889.000
65,Total curent assets,3.0,December 30 2017,17274.000
66,Filmand television costs,3.0,September 2017 30,7481.000
67,Filmand television costs,3.0,December 30 2017,7937.000
68,Investments,3.0,December 30 2017,3206.000
69,Attractions buildings and equipment,3.0,September 2017 30,54043.000
70,Accumulated depreciation,3.0,September 2017 30,29037.000
71,Accumulated depreciation,3.0,December 30 2017,29647.000
72,,3.0,September 2017 30,25006.000
73,,3.0,December 30 2017,24970.000
74,Projects in progress,3.0,September 2017 30,2145.000
75,Projects in progress,3.0,December 30 2017,2355.000
76,,3.0,December 30 2017,1259.000
77,,3.0,September 2017 30,28406.000
78,,3.0,December 30 2017,28584.000
79,Intangible assets net,3.0,September 2017 30,6995.000
80,Goodwill,3.0,September 2017 30,31426.000
81,Other assets,3.0,December 30 2017,2.373
82,Total assets,3.0,September 2017 30,95789.000
83,Total assets,3.0,December 30 2017,97734.000
84,Accounts payable and other accrued liabilities,3.0,September 2017 30,8855.000
85,Accounts payable and other accrued liabilities,3.0,December 30 2017,9574.000
86,Current portion ofborrowings,3.0,December 30 2017,6009.000
87,Deferred revenue and other,3.0,December 30 2017,4292.000
88,Total current liabilities,3.0,September 2017 30,19595.000
89,Total current liabilities,3.0,December 30 2017,19875.000
90,Borrowings,3.0,September 2017 30,19119.000
91,Borrowings,3.0,December 30 2017,20082.000
92,Deferred income taxes,3.0,September 2017 30,4480.000
93,Other long-term liabilities,3.0,September 2017 30,6443.000
94,Other long-term liabilities,3.0,December 30 2017,6726.000
95,Redeemable noncontrolling interests,3.0,December 30 2017,1142.000
96,Common Authorized stock S0.01 billion par valu...,3.0,December 30 2017,36254.000
97,Retained earnings - _,3.0,September 2017 30,72606.000
98,Retained earnings - _,3.0,December 30 2017,75763.000
99,Accumulated other comprehensive lo,3.0,September 2017 30,3528.000
100,,3.0,September 2017 30,105326.000
101,,3.0,December 30 2017,108613.000
102,Treasury stock at cost billion shares,3.0,September 2017 30,64011.000
103,Treasury stock at cost billion shares,3.0,December 30 2017,65324.000
104,Total Disney Shareholders' equity,3.0,December 30 2017,43289.000
105,Noncontrolling interests,3.0,September 2017 30,3689.000
106,Noncontrolling interests,3.0,December 30 2017,3794.000
107,Total equity,3.0,September 2017 30,45004.000
108,Total equity,3.0,December 30 2017,47083.000
109,Total liabilities and equity,3.0,September 2017 30,95789.000
110,Total liabilities and equity,3.0,December 30 2017,97734.000
111,Net income,4.0,Quarter December 2017 30,4473.000
112,Net income,4.0,Ended December 2016 31,2488.000
113,Depreciation and amortization,4.0,Quarter December 2017 30,742.000
114,Depreciation and amortization,4.0,Ended December 2016 31,687.000
115,Deferred income taxes,4.0,Quarter December 2017 30,1726.000
116,Deferred income taxes,4.0,Ended December 2016 31,76.000
117,Equity in the income of investees,4.0,Quarter December 2017 30,43.000
118,Equity in the income of investees,4.0,Ended December 2016 31,118.000
119,Cash distributions received from equity investees,4.0,Quarter December 2017 30,170.000
120,Cash distributions received from equity investees,4.0,Ended December 2016 31,203.000
121,Net change in filmand television costs and adv...,4.0,Quarter December 2017 30,34.000
122,Net change in filmand television costs and adv...,4.0,Ended December 2016 31,440.000
123,Equity-based compensation,4.0,Quarter December 2017 30,94.000
124,Equity-based compensation,4.0,Ended December 2016 31,97.000
125,Other,4.0,Quarter December 2017 30,139.000
126,Other,4.0,Ended December 2016 31,187.000
127,Receivables,4.0,Quarter December 2017 30,1378.000
128,Receivables,4.0,Quarter December 2017 30,1160.000
129,Receivables,4.0,Ended December 2016 31,1160.000
130,Inventories,4.0,Quarter December 2017 30,65.000
131,Inventories,4.0,Ended December 2016 31,65.000
132,Inventories,4.0,Ended December 2016 31,102.000
133,Otherassets,4.0,Quarter December 2017 30,29.000
134,Otherassets,4.0,Ended December 2016 31,311.000
135,Accounts payable and other accrued liabilities,4.0,Quarter December 2017 30,1160.000
136,Accounts payable and other accrued liabilities,4.0,Ended December 2016 31,1160.000
137,Accounts payable and other accrued liabilities,4.0,Ended December 2016 31,2763.000
138,Income taxes,4.0,Quarter December 2017 30,856.000
139,Income taxes,4.0,Ended December 2016 31,1047.000
140,Cash provided by operations,4.0,Quarter December 2017 30,2237.000
141,Cash provided by operations,4.0,Ended December 2016 31,1445.000
142,Investments in parks resorts and other property,4.0,Quarter December 2017 30,981.000
143,Investments in parks resorts and other property,4.0,Ended December 2016 31,1040.000
144,Other,4.0,Quarter December 2017 30,62.000
145,Cash used in investing activities,4.0,Quarter December 2017 30,1043.000
146,Cash used in investing activities,4.0,Ended December 2016 31,1035.000
147,Commercial paper borrowings net,4.0,Quarter December 2017 30,1140.000
148,Commercial paper borrowings net,4.0,Ended December 2016 31,732.000
149,Borrowings,4.0,Quarter December 2017 30,1025.000
150,Borrowings,4.0,Ended December 2016 31,42.000
151,Reduction of borrowings,4.0,Quarter December 2017 30,1330.000
152,Reduction of borrowings,4.0,Ended December 2016 31,194.000
153,Repurchases of common stock,4.0,Quarter December 2017 30,1313.000
154,Repurchases of common stock,4.0,Ended December 2016 31,1465.000
155,Proceeds from exercise of stock options,4.0,Quarter December 2017 30,50.000
156,Proceeds from exercise of stock options,4.0,Quarter December 2017 30,65.000
157,Proceeds from exercise of stock options,4.0,Ended December 2016 31,65.000
158,Other,4.0,Quarter December 2017 30,156.000
159,Other,4.0,Ended December 2016 31,167.000
160,Cash used in financing activitie:s,4.0,Quarter December 2017 30,584.000
161,Cash used in financing activitie:s,4.0,Ended December 2016 31,987.000
162,Impact of exchange rates on cash cash equivale...,4.0,Quarter December 2017 30,21.000
163,Impact of exchange rates on cash cash equivale...,4.0,Ended December 2016 31,112.000
164,Change in cash cash equivalents and restricted...,4.0,Quarter December 2017 30,631.000
165,Change in cash cash equivalents and restricted...,4.0,Ended December 2016 31,689.000
166,Cash cash equivalents and restricted cash begi...,4.0,Quarter December 2017 30,4064.000
167,Cash cash equivalents and restricted cash begi...,4.0,Ended December 2016 31,4760.000
168,Cash cash equivalents and restricted cash end ...,4.0,Quarter December 2017 30,4695.000
169,Cash cash equivalents and restricted cash end ...,4.0,Ended December 2016 31,4071.000